<div class="container mx-auto">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
                <h1 id="title">Sing Up</h1>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email" name="username" [(ngModel)]="username">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" name="password" [(ngModel)]="password">
				</div><p style="text-align: center;">
                <button class="btn btn-success" (click)="save()">Create account
				</button></p>				
			</form>
			<div class="social-login">
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>