<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="" >Home</a>
        <a class="nav-item nav-link active" routerLink="bienvenido">Bienvenido</a>
        <a class="nav-item nav-link active" routerLink="login" >Login</a>
        <a class="nav-item nav-link active" routerLink="registrar">Registrar</a>
        <a class="nav-item nav-link active" routerLink="**">Error</a>
      </div>
    </div>   
</nav>

<div class="container text-center">
    <h1>Bienvenido a la UTN-FRA</h1>
    <h2>Estas cursando Angular</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsum non iure nam, cum ad, id dignissimos blanditiis, iste repellat odio porro earum. Sunt, debitis quasi harum eveniet nisi aspernatur!</p>
      
    <img src="../../../assets/UTN_logo.png" alt="utn logo" id="logo">
    <br>
    <!--Footer-->
      <footer class="bg-dark">
        <ul class="list-unstyled" id="menu_footer">
            <li class="footer_li"><a href="https://github.com/francisco-allende?tab=repositories" target="_blank" class="href_non_decoration">Github</a></li>
            
            <li class="footer_li"><a href="https://www.linkedin.com/in/franciscoallende/" taget="_blank" class="href_non_decoration" target="_blank">Linkedin</a></li>
            
            <li class="footer_li"><a href="mailto:franallende2000@gmail.com" class="href_non_decoration">Send email</a></li>
        </ul>
    </footer>
  </div>
  